<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie.title %> </title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('./partials/header') %> 

    <div class="show">
        <div class="container">
            <div class="movie-info">
                <figure class="movie-info-figure">
                    <img src="<%= movie.movieImg %>" alt="<%= movie.title %>">
                </figure>
                <div>
                    <h2><%= movie.title %></h2>
                    <p class="movie-description-p"><%= movie.movieDescription %></p>
                    <p>Director: <%= movie.director %> </p>
                    <p>Cast: <%= movie.cast %> </p>
                    <p>Opinions: <%= movie.opinions %> </p>
                </div>
            </div>

            <!-- <p>Price: $<%= movie.price %></p>

                <% if(movie.qty === 0) { %>
                    <p>Out of Stock</p>
                <% } else { %>
                    <p>Qty: <%= movie.qty %></p>
                    <form action="/movies/<%= movie._id %>/rent?_method=PUT&qty=<%= movie.qty - 1 %>" method="POST">
                        <input class="purple-btn" type="submit" name="qty" value="Rent">
                    </form> 
                <% } %> -->
            
            <a class="purple-btn" href="/movies/<%= movie._id %>/edit">Edit</a>
            <form action="/movies/<%= movie._id %>?_method=DELETE" method="POST">
                <input class="purple-btn" type="submit" value="Delete">
            </form>
        </div>
    </div>
    
</body>
</html>